{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="content-center">
        <h1 class="header-text">Магазин "Масленок"</h1>
        <img class="content-center-pic" src="{% static 'picture/maslenok.jpg' %}" alt="Магазин Масленок">
        <p>
            Добро пожаловать в "Масленок" – ваш идеальный партнер в мире автомасел и автозапчастей! Мы являемся
            ведущим поставщиком качественных продуктов, предназначенных для обслуживания и улучшения вашего
            автомобиля.
        </p>
        <h2>Наша Миссия:</h2>
        <p>
            Мы стремимся предоставить вам широкий ассортимент продукции высокого качества, чтобы обеспечить ваш
            автомобиль лучшими материалами и компонентами. Наша миссия заключается в том, чтобы сделать ваш
            автомобиль более надежным, эффективным и долговечным.
        </p>
        <h2>Что мы предлагаем:</h2>
        <p>
            Автомасла: Мы предлагаем широкий выбор масел различных брендов и типов, чтобы удовлетворить
                требования различных автомобилей.
        </p>
        <p>
            Автозапчасти: Наш магазин предоставляет запчасти высокого стандарта для различных марок и моделей
                автомобилей. У нас вы найдете все необходимое для того, чтобы ваш автомобиль всегда оставался в
                отличном состоянии.
        </p>
        <h2>Наши Преимущества:</h2>
        <p>
            Качество: Мы работаем только с надежными поставщиками и брендами, гарантируя высший стандарт
                качества продукции.
        </p>
        <p>Оперативность: Наша команда постарается обеспечить быструю и оперативную доставку, чтобы вы могли
            быстро вернуться на дорогу.
        </p>
        <p>Профессионализм: Наши эксперты готовы предоставить вам профессиональные советы и рекомендации по
                выбору продукции, соответствующей вашим потребностям.</li>
        </p>
        <p>
            Мы гордимся тем, что можем быть вашими надежными партнерами в уходе за вашим автомобилем. С "Масленок"
            ваш автомобиль всегда будет на ходу!
        </p>

        <p>Спасибо за выбор нашего магазина!</p>
    </div>
{% endblock %}
