{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="content-center">
        <h1 class="header-text">Магазин "Масленок"</h1>
        <img class="content-center-pic" src="{% static 'picture/maslenok.jpg' %}" alt="Магазин Масленок">
        <p>
            Наш магазин специализируется на предоставлении высококачественных автомасел и автозапчастей
            для вашего автомобиля. Мы гордимся тем, что предлагаем широкий ассортимент продукции от ведущих
            производителей, обеспечивая ваш автомобиль надежными и эффективными решениями.
        </p>
        <p>
            В "Масленок" мы стремимся к удовлетворению потребностей каждого клиента, предоставляя продукцию
            высокого качества по доступным ценам. Наши опытные сотрудники готовы помочь вам с выбором
            подходящих материалов для обслуживания и улучшения вашего транспортного средства.
        </p>
        <p>
            Обеспечьте ваш автомобиль лучшими материалами с "Масленок" и дайте ему заботу, которую он заслуживает.
        </p>
    </div>
{% endblock %}