{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="content-center">
        {% if error %}
            <h1 class="error_message">Пароли не совпадают<br>Данные не изменены</h1>
        {% endif %}
        {% if error_old %}
            <h1 class="error_message">Неверно введен актуальный пароль<br>Данные не изменены</h1>
        {% endif %}
        <h1 class="h1_none_select">Редактирование пароля</h1>
        <form class="change_form" method="post">
            {% csrf_token %}
            <input placeholder="Введите старый пароль" type="password" id="password_old" name="password_old" required><br>
            <input placeholder="Введите новый пароль" minlength="8" type="password" id="password_new1" name="password_new1" required><br>
            <input placeholder="Подтвердите пароль" minlength="8" type="password" id="password_new2" name="password_new2" required><br>
            <input type="submit" value="Изменить данные">
            <a class='reg_log_url' href="{% url 'profile' %}">Отмена</a>
        </form>
    </div>
{% endblock %}